.gift-wrapper{

position:relative;

display:flex;

justify-content:center;
align-items:center;

}

.gift{

font-size:140px;

cursor:pointer;

user-select:none;

animation:float 4s infinite ease-in-out;

transition:.4s;

filter:

drop-shadow(0 0 20px hotpink)
drop-shadow(0 0 50px deeppink);

}

.gift:hover{

transform:scale(1.1);

}

.gift-glow{

position:absolute;

width:260px;
height:260px;

border-radius:50%;

background:

radial-gradient(circle,
rgba(255,0,170,.5),
transparent 70%);

filter:blur(35px);

animation:pulseGlow 3s infinite;

}

@keyframes float{

0%{

transform:translateY(0);

}

50%{

transform:translateY(-18px);

}

100%{

transform:translateY(0);

}

}

@keyframes pulseGlow{

0%{

opacity:.5;
transform:scale(.8);

}

50%{

opacity:1;
transform:scale(1.2);

}

100%{

opacity:.5;
transform:scale(.8);

}

}